html, body{
    margin:0;
    padding:0;
}
#menu{
    display:block;
    margin:0;
    padding: 10px 10px;
    box-sizing:border-box;
    width:100%;
    position: fixed;
    left:0;
    top:0;
    text-align: right;
    background-color: black;
    z-index: 2;
}
#menu nav ul {
    padding:0;
    margin:0;
}
#menu li {
    padding:0;
    margin:0;
}
#menu .menuLiens {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px;
    font-size:22px;
}
#menu .menuLiens a{color: white;
text-decoration: none;
}

/* ===== MAIN ======== */

main {
    margin-top:100px;
}
main h1 {text-align: center;
}
main p{
    text-align: center;
    
}
/* ======== SLIDER CSS ====== */

div#slider { 
    width: 80%; 
    margin:auto;
    max-width: 1500px;
    overflow: hidden 
} 
div#slider figure {
    position: relative; 
    z-index:1;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
  }
  div#slider figure img { width: 20%; height: auto; float: left; }

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

  section {
      width:100%;
      text-align: center;
      padding: 50px;
  }
  section h2 {
      font-size:18px;
    font-weight: bold;

  }